* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #090040;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #090040;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 8px;
    gap: 10px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(245, 244, 252);
    border-radius: 6px;
}

.login-container button {
    background-color: #090040;
    padding: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    width: 50%;
    border-radius: 1px;
    font-weight: bold;
}

.login-container button:hover {
    border: 2px solid #c55a5a;
}